<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>za.ac.tut.web.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question1</servlet-name>
        <servlet-class>za.ac.tut.web.Question1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question2</servlet-name>
        <servlet-class>za.ac.tut.web.Question2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question3</servlet-name>
        <servlet-class>za.ac.tut.web.Question3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question4</servlet-name>
        <servlet-class>za.ac.tut.web.Question4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalMarkServlet</servlet-name>
        <servlet-class>za.ac.tut.web.FinalMarkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentPageServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StudentPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>za.ac.tut.web.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question1</servlet-name>
        <url-pattern>/Question1.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question2</servlet-name>
        <url-pattern>/Question2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question3</servlet-name>
        <url-pattern>/Question3.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question4</servlet-name>
        <url-pattern>/Question4.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalMarkServlet</servlet-name>
        <url-pattern>/FinalMarkServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentPageServlet</servlet-name>
        <url-pattern>/StudentPageServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
